<!DOCTYPE html>
<html>
<head>
<title>Student Dashboard</title>
<style>
body{font-family:Arial;background:#eef;padding:20px;}
.card{padding:10px;margin:10px;border-radius:5px;}
.green{background:#9fdf9f;}
.grey{background:#ddd;}
.red{background:#ff9999;}
</style>
</head>
<body>

<h2>Your Tasks</h2>

{% for t in tasks %}
<div class="card 
{% if t.status=='Completed' %}green
{% elif t.status=='Overdue' %}red
{% else %}grey{% endif %}">
<b>{{t.title}}</b><br>
Due: {{t.due_date}} <br>
Status: {{t.status}}
{% if t.status!='Completed' %}
<br><a href="/complete/{{t.id}}">Mark Completed</a>
{% endif %}
</div>
{% endfor %}

<a href="/logout">Logout</a>

</body>
</html>
